<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodeTestIOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9B4E1FAF7446020C14FF6EA1C0323A6B82E66E39</string>
				<key>dateExpires</key>
				<string>7/1/2026</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>KAN3S4GU5U.com.maxdu.CodeTestIOS</string>
				<key>com.apple.developer.team-identifier</key>
				<string>KAN3S4GU5U</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>CodeTestIOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7d7af9bf-a2f5-4807-b0e2-15507d9f802a</string>
				<key>dateExpires</key>
				<string>7/2/2026</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KAN3S4GU5U</string>
				<key>name</key>
				<string>Zixian DU</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
